
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Inter:wght@400;500;600;900&family=Libre+Baskerville:wght@700&family=Rubik+Vinyl&display=swap');

@media screen  and (max-width: 600px){


  a{
    color: white;
    text-decoration: none;
  }
  
  img {  
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .App{

    overflow-x: hidden;
    text-align: center;
  }

  .first-container{

    margin-top: -0.5rem;
    height: fit-content;
    background-color: #181515;
    margin: none;
    padding-bottom: 12.5rem;
  }

  .navbar-email-div{

    display: none;
  }
 
  .menu-text{

    display: none;
  }

  .dark-mode-btn{
    display: hidden;
  }

  .right-menu-small{

    display: flex;
    float: right;
  }

  .container-fluid-small{

    display: flex;
    flex-direction: row-reverse;
  }

  .icons_light{

    height: 2rem;
    margin-left: 0.5rem;
  }

  .navbar-css{
    margin-top: 2rem;
  }

  .content{
  
  }
  
  .content-text{
  margin-left: 2rem;
  margin-top: 3rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

  .row1-text{

    float: left;
    font-size: 1.5rem;
  }
  
  .row2-text{
  
    float: left;
    font-size: 2.5rem;
    margin-top: -0.5rem;
    z-index: 1;
    font-family: Libre Baskerville;
  }
  
  .row2-s{
  
    font-family: Libre Baskerville;
    font-size: 2.7rem;
    font-weight: bold;
    opacity: 90%;
    color: #e55c5c;
    z-index: 2;
    margin-top: -3.9rem;
    margin-left: 6.7rem;
  }
  
  .row3-text{
  
    float: left;
    font-size: 1.3rem;
  }
  
  .br{
    display: none;
  }
  .row4-text{
    float: left;
    text-align: left;
    margin-top: 1.5rem;
    margin-right: 2rem;
  }
  
  .row5-btn{
    float: left;
    margin-top: 2rem ;
    height: 2.6rem;
    background-color: #EA8787;
    border: none;
    padding: 0 1rem;
  }
  
  .row5-btn:hover{
  
    background-color:#181515;
    color: #dbd4cd;
    border: 2px solid #dbd4cd;
  }
  
  .link-buttons{
  
    z-index: 2;
    position: absolute;
    display: flex;
    margin-top: 22rem;
    margin-left: 2rem;    
    font-size: 0.7rem;
  }
  
  .resume-btn-main{
    float: left;
    margin-top: 2rem ;
    height: 2.6rem;
    background: none;
    border: 2px solid;
    color: #dbd4cd;
    padding: 0 1rem;
    margin-left: 2rem;
  }
  
  .resume-btn-main:hover{
  
    background-color: #DD9797;
    color: #000000;
  } 

  .outer-circle{

    border: 1px solid #847A7A;
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    padding: 0.5rem;
  }
  
  .inner-circle{
   
    border: 1px dashed #DD9797;
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
  }
  
  .photo{
  
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
  }
  
  .photo-position{

    margin-top: 3rem;
    margin-left: 2.5rem;
  }
  
  /*SECOND CONTAINER*/


  .second-container{

    margin-top: -1rem;
    padding-top: 1.5rem;
    background-color: #312D2D;
    overflow-x: hidden;
    
  }
  
  
  .sidebar{
    display: none;
  }

  .middle-heading-layer1{

    font-size: 2.3rem;
    font-weight: bold;
    color: #e9e4e0;
    margin-top: -0.5rem;
    z-index: 2;
    position: absolute;
    margin-left: 4.9rem;
  }
  
  .middle-heading-layer2{

    font-size: 2.3rem;
    font-weight: bold;
    color: #a18c8c;
    opacity: 30%;
    position: relative;
    z-index: 1;
    margin-top: -2.6rem;
    margin-left: 0.1rem;
  }

  .top-bg-text{
  
    font-weight:800;
    font-size: 13rem;
    z-index: 1;
    float: right;
    opacity: 5%;
    user-select: none;
    position: absolute;
    margin-left: 3rem;
    margin-top: 1rem;
  }
  
  .middle-bg-text{

    font-weight:600;
    font-size: 9rem;
    z-index: 1;
    float: left;
    opacity: 15%;
    user-select: none;
    position: absolute;
    margin-left: -1.5rem;
    margin-top: 27rem;
  }

  .bottom-bg-text{
  
    font-weight:800;
    font-size: 5rem;
    z-index: 1;
    float: right;
    opacity: 20%;
    user-select: none;
    position: absolute;
    margin-left: 9rem;
    margin-top: 50rem;
  }

  .major-project-container{
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  .project-container{
  
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 0rem;
  }
  
  .main-project-image{
  
    height: 9rem;
    width: 15rem;
    z-index: 0;
    position: relative;
    border-radius: 6px;
  }
  
  .major-project-number{
  
    display: none;
  }
  
  .project-container:hover .major-project-number{
    font-size: 4.7rem;
    color: rgb(188, 20, 20);
  
  }
  
  .project-Detail{
  
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  
  }
  
  .project-desc{
  
    margin-left: 1rem;
    text-align: start;
  }
  
  .major-proj-name{
  
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .main-proj-github-link{
  
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #dbd4cd;
  }
  
  .main-proj-github-link:hover a{
    color: #920808;
    font-size: 1.1rem;
    transition-delay: 3ms;
  }
  
  .mini-project-heading{

    font-size: 1.5rem;
    font-weight: 600;

  }

  .mini-project-img{
    height: 4rem;
    width: 6rem;
  }
  .mini-project-container{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:2;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow-x: scroll;
    
  }
  
  .mini-project-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mini-project-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  .mini-proj-div{
  
    padding: 1rem;
  }
  
  .card{
    border: none;
    width: 13rem;
    
  }
  
  .card-img-top{
    z-index: 0;
  }
  
  .card-body{
    text-align: start;
  }
  .card-title{
  
    font-size: 1rem;
    margin-top: -0.5rem;
    margin-bottom: -0.1rem;
  }
  
  .card-body a{
  
    color: black;
  }
  
  .card-text{
  
    font-weight: 500;
  }
  .card-text:hover{
  
    font-weight: 600;
    color: dimgrey;
  }
  
  .image-container:hover .card-img-top{
  
        opacity: 60%;
  }
  
  .link-icon-img{
  
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .image-container:hover .link-icon-img{
  
    height: 2.2rem;
    width: 2.2rem;
  }
  
  .link-icon{
  
    display: none;
  }
  
  .image-container:hover .link-icon{
  
    margin-top: -7.2rem;
    margin-right: 9.5rem;
    transition: .6s;
  }
  
  .mini-proj-number{
  
   display: none;
  }


  /*THIRD CONTAINER*/
  .third-container{

    min-height: 50rem;
    background-color: #2C2525;
    padding: 2rem;
    padding-top: 3rem;
  }
  
  .third-sub-container{
  
    display: flex;
    flex-direction: column;
    
  }
  
  #about-heading{
  
    font-family: Libre Baskerville;
    font-size: 2.5rem;
  }
  
  .about-image-border{
  
    height: 27rem;
    z-index: 0;
    margin-top: 2rem;
    position: relative;
  }
  
  .about-content{
  
    max-width: 60rem;
    float: left;
    text-align: center;
    margin-top: 3rem;
  }
  
  .about-text{
    text-align: justify;
  }
  
  .content-image{
  display: none;
  }

  .small-br{

    display: none;
  }
  
  .resume-btn{
     
    background-color:unset;
    border: #DD9797;
    border: 2px solid;
    color: #E8E2E2;
    padding: 0.5rem;
    margin-left: -12rem;
    margin-top: 2rem;
    border-radius: 2px;
    box-shadow: 0px 0px 30px #000000;
  }
  
  .hidden-content{

    display: none;
  }
  .resume-btn:hover{
  
    background-color: #DD9797;
    border-color: #181515;
    color:#181515;
    box-shadow: 0px 0px 10px #6c3c3c;
  }
  
  .skills-container{
  
    float: right;
    margin-top: 3rem;
  }
  
  .skill-range{
  
    transform: 0.6s;
    
  }
  
  .bubble1 {
  display: none;
  }
  
  
  .bubble2{
  display: none;
  }
  
  .bubble3{
  display: none;
  }
  
  .about-btn{
    display: none;
  }
  
    /*FOURTH CONTAINER*/

.fourth-container{

  min-height: 40rem;
  background-color: #222020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form{

  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 1.5rem;
}

.contact-heading{
    
    text-align: center !important;
    align-items: center;
    justify-content:stretch;
    color: #DD9797;
    font-family: libre baskerville;
    margin-top: 3rem;
    margin-left: 2rem;
}
.contact-form-btn {
  
  background: none;
  border-color:  #FFAF69;
  width: 6rem;
  margin-left:3rem ;
  border:1px solid;
  border-radius: 2px;
  color: #e3c7af;
  padding: 0.1rem;
  box-shadow: 0px 0px 20px black;
}

.contact-form-btn:hover{

  box-shadow: 0px 0px 20px rgb(40, 36, 36);
  background-color: #e3c7af;
  color: #222020 ;
  border: #222020 ;
}
.contact-form-btn-disabled {
  
  background: none;
  border-color: rgba(80, 42, 19, 0.956);
  width: 6rem;
  margin-left:3rem ;
  border-radius: 2px;
  color: rgba(80, 42, 19, 0.956);
  box-shadow: 0px 0px 20px black;
}

label{
  width: 8rem;
  color: #aba8a5;
  font-size: 0.9rem;
}

.ver-code{

  width: 9rem;
}
.form-row-1{

  margin-top: 4rem;
  display: flex;
  min-width: 30rem;
  flex-direction: column;
}

.form-row-2{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  
}

.form-row-3{

  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 25rem;
}

.form-row-4{

  margin-top: 1rem;
  display: flex;
  min-width: 25rem;
  flex-direction: column;
}

.form-row-5{

  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 25rem;
}

.mail-div{

  display: flex;
  flex-direction: column;
}

.email-div{

  display: flex;
  flex-direction: column;
}



.textarea{

  width: 10rem;
  min-height: 1.8rem;
  overflow-y: hidden;
  background: none;  
  border: none;
  border-bottom: 2px solid;
  border-color:#572b04;;
}

input{

  background: none;
  border: none;
  border-bottom: 2px solid;
  border-color:#572b04;
  width:10rem;
}

.send-btn{

  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
}

.avatar{
display: none;
}

.side-icons{

  display: flex;
  flex-direction: row;
  margin-top: 5rem ;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.contact-icon{

  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.contact-icon-active{

  height: 4rem;
  margin-right: 1rem;
  margin-top: -2rem;

}

  
}





@media screen  and (min-width: 1080px) {
  

::-webkit-scrollbar {
      width: 0.4em
    }
    
  ::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00)
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgb(50, 47, 47);
      
    }
  
.App {
  text-align: center;
}

/*FIRST CONTAINER STYLES*/

.first-container{

  margin-top: -0.5rem;
  height: fit-content;
  background-color: #181515;
  margin: none;
  padding-bottom: 11rem;
  min-width: fit-content;
}


.navbar-css{

  color: white;
  padding: 1rem;
  margin-top: 0.5rem;
}

a{
  color: white;
  text-decoration: none;
}

.icons_light{

  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.right-menu{
  float: right;
  display: flex;
  flex-direction: row;
}

.right-menu-option{

  margin-right: 4rem;
  flex-direction: row;
  display: flex;
}

.right-menu-option:hover{
  
  color: #DD9797;
}
.menu-text{

  margin-top: 0.2rem;
}
.dark-mode-btn{
    margin-right: 0.5rem;
}

img {  
    
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.outer-circle{

  border: 1px solid #847A7A;
  border-radius: 50%;
  height: 22rem;
  width: 22rem;
  padding: 0.5rem;
}

.inner-circle{
 
  border: 1px dashed #DD9797;
  border-radius: 50%;
  height: 21rem;
  width: 21rem;
}

.photo{

  border-radius: 50%;
  height: 21rem;
  width: 21rem;
}

.photo-position{

  margin-left: -6rem;
  margin-top: 8rem;
}

.row1-text{

  float: left;
  font-size: 2.5rem;
}

.row2-text{

  float: left;
  font-size: 4.0rem;
  margin-top: -0.5rem;
  z-index: 1;
  font-family: Libre Baskerville;
}

.row2-s{

  font-family: Libre Baskerville;
  font-size: 4.1rem;
  font-weight: bold;
  opacity: 90%;
  color: #e55c5c;
  z-index: 2;
  margin-top: -6rem;
  margin-left: 10.8rem;
}

.row3-text{

  float: left;
  font-size: 1.6rem;
}

.row4-text{
  float: left;
  width: 50rem;
  text-align: left;
  margin-top: 1.5rem;
}

.row5-btn{
  float: left;
  margin-top: 2rem ;
  height: 2.6rem;
  background-color: #EA8787;
  border: none;
  padding: 0 1rem;
}

.row5-btn:hover{

  background-color:#181515;
  color: #dbd4cd;
  border: 2px solid #dbd4cd;
}

.link-buttons{

  z-index: 2;
  position: absolute;
  margin-top: 28rem;
  margin-left: 13rem;
  display: flex;
}

.resume-btn-main{
  float: left;
  margin-top: 2rem ;
  height: 2.6rem;
  background: none;
  border: 2px solid;
  color: #dbd4cd;
  padding: 0 1rem;
  margin-left: 2rem;
}

.resume-btn-main:hover{

  background-color: #DD9797;
  color: #000000;
}
.content{

  display: flex;
  flex-direction: row;
}

.content-text{

margin-left: 13rem;
margin-top: 8rem;
height: max-content;
display: flex;
flex-direction: column;
align-items: flex-start;
}

/*SECOND CONTAINER STYLES*/

.middle-heading{
  display: none;
}


.second-container{

  margin-top: -1rem;
  padding-top: 1.5rem;
  background-color: #312D2D;
  min-width: max-content;
  overflow-x: hidden;
  
}

.sidebar-top{

  font-weight: bold;
  font-size: 7rem;
  float: left;
  line-height: 5.6rem;
  color: #E8E2E2;
  z-index: 0;
  margin-left: -1.4rem;
}
.sidebar-bottom{

  font-weight: bold;
  font-size: 7rem;
  float: left;
  line-height: 5.6rem;
  margin-left: -4rem;
  color: #FFF4F4;
  z-index: 1;
  opacity: 10%;
 
}

.sidebar{
  margin-top: 7rem;
  z-index: 1;
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.major-project-container{

  margin: 2rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  
  z-index: 1;
}

.project-container{

  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.main-project-image{

  height: 12rem;
  width: 20rem;
  z-index: 0;
  position: relative;
  border-radius: 6px;
}

.major-project-number{

  font-size: 4.5rem;
  font-weight: bolder;
  color: black;
  margin-top: -3.5rem;
  margin-left: 16.5rem;
  z-index: 1;
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.project-container:hover .major-project-number{
  font-size: 4.7rem;
  color: rgb(188, 20, 20);

}

.project-Detail{

  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;

}

.project-desc{

  margin-left: 1rem;
  text-align: start;
  width: 30rem;
}

.major-proj-name{

  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main-proj-github-link{

  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.main-proj-github-link:hover a{
  color: #920808;
  font-size: 1.1rem;
  transition-delay: 3ms;
}

.mini-project-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 8rem 1rem 5rem;
  z-index:1;
  margin-left: 5rem;
}

.mini-proj-div{

  width: 22rem;
}

.card{
  border: none;
}

.card-img-top{
  z-index: 0;
}

.card-body{
  text-align: start;
}
.card-title{

  font-size: 1rem;
  margin-top: -0.5rem;
  margin-bottom: -0.1rem;
}

.card-body a{

  color: black;
}

.card-text{

  font-weight: 500;
}
.card-text:hover{

  font-weight: 600;
  color: dimgrey;
}

.image-container:hover .card-img-top{

      opacity: 60%;
}

.link-icon-img{

  height: 1.5rem;
  width: 1.5rem;
}

.image-container:hover .link-icon-img{

  height: 2.2rem;
  width: 2.2rem;
}

.link-icon{

  z-index: 1;
  position: relative;
  margin-top: -10.2rem;
  float: right;
  margin-right: 1rem;
}

.image-container:hover .link-icon{

  margin-top: -7.2rem;
  margin-right: 9.5rem;
  transition: .6s;
}

.mini-proj-number{

  font-size: 5rem;
  font-weight: bold;
  color: #181515;
  z-index: 0;
  float: right;
  position: relative;
  margin-top: -4rem;
  margin-right: 1rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.mini-proj-div:hover .mini-proj-number{

  color: rgb(188, 20, 20);
}

.bg-text{

  font-weight:600;
  font-size: 31rem;
  z-index: -1;
  opacity: 5%;
  float: right; 
  margin-top: -12rem;
  margin-right: -10rem;
  user-select: none;
}

.middle-bg-text{

  font-weight:600;
  font-size: 19rem;
  z-index: -0;
  float: left;
  opacity: 15%;
  user-select: none;
  position: absolute;
  margin-top: 26rem;
  margin-left: 8rem;
}
/*THIRD CONTAINER*/

.third-container{

  min-height: 50rem;
  background-color: #2C2525;
  padding: 2rem;
  padding-top: 3rem;
}

.third-sub-container{

  display: flex;
  flex-direction: row;
  width: 100% ;
  
}

#about-heading{

  font-family: Libre Baskerville;
  font-size: 3rem;
}

.about-image{

  height: 20rem;
  z-index: 1;
  position: absolute;
  margin-top: 5.5rem;
  margin-left: 2rem;
}

.about-image-border{

  height: 27rem;
  z-index: 0;
  margin-top: 2rem;
  position: relative;
}

.about-content{

  max-width: 60rem;
  float: left;
  text-align: center;
  margin-top: 3rem;
}

.about-text{
  text-align: justify;
}

.content-image{
  float: right;
  height: 30rem;
  shape-outside:url('./images/about_image.png');
  shape-margin: 2.8rem;
  margin-top: -2rem;
}

.resume-btn{
   
  background-color:unset;
  border: #DD9797;
  border: 2px solid;
  color: #E8E2E2;
  padding: 0.5rem;
  margin-left: -12rem;
  margin-top: 2rem;
  border-radius: 2px;
  box-shadow: 0px 0px 30px #000000;
}

.resume-btn:hover{

  background-color: #DD9797;
  border-color: #181515;
  color:#181515;
  box-shadow: 0px 0px 10px #6c3c3c;
}

.skills-container{

  float: right;
  margin-top: 3rem;
}

.skill-range{

  transform: 0.6s;
  
}

.bubble1 {

  height: 3.5rem;
  float: right;
  margin-top: -6.5rem;
  margin-right: 6rem;
}


.bubble2{

  float: right;
  height: 2.5rem;
  margin-right: 10rem;
  margin-top: -1.5rem;
}

.bubble3{

  float: right;
  height: 2rem;
  margin-top: 3rem;
  margin-right: 2rem;
}


/*FOURTH CONTAINER*/

.fourth-container{

  min-height: 40rem;
  background-color: #222020;
  display: flex;
  justify-content: space-between;
}

.contact-form{

  display: flex;
  flex-direction: column;
  min-width: 30rem;
  align-items: start;
  text-align: start;
  padding: 3rem;
  margin-left: -17rem;
}

.contact-heading{
    
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:stretch;
    flex-direction: row;
    color: #DD9797;
    font-family: libre baskerville;
    margin-left: 4rem;
    margin-top: 3rem;

}
.contact-form-btn {
  
  background: none;
  border-color:  #FFAF69;
  width: 6rem;
  margin-left:3rem ;
  border:1px solid;
  border-radius: 2px;
  color: #e3c7af;
  padding: 0.1rem;
  box-shadow: 0px 0px 20px black;
}

.contact-form-btn:hover{

  box-shadow: 0px 0px 20px rgb(40, 36, 36);
  background-color: #e3c7af;
  color: #222020 ;
  border: #222020 ;
}
.contact-form-btn-disabled {
  
  background: none;
  border-color: rgba(80, 42, 19, 0.956);
  width: 6rem;
  margin-left:3rem ;
  border-radius: 2px;
  color: rgba(80, 42, 19, 0.956);
  box-shadow: 0px 0px 20px black;
}

label{
  width: 8rem;
  color: #aba8a5;
  font-size: 0.9rem;
}

.ver-code{

  width: 9rem;
}
.form-row-1{

  margin-top: 4rem;
  display: flex;
  min-width: 30rem;
  flex-direction: column;
}

.form-row-2{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  
}

.form-row-3{

  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 25rem;
}

.form-row-4{

  margin-top: 1rem;
  display: flex;
  min-width: 25rem;
  flex-direction: column;
}

.form-row-5{

  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 25rem;
}

.mail-div{

  display: flex;
  flex-direction: column;
}

.email-div{

  display: flex;
  flex-direction: column;
}



.textarea{

  min-width: 20rem;
  min-height: 1.8rem;
  overflow-y: hidden;
  background: none;  
  border: none;
  border-bottom: 2px solid;
  border-color:#572b04;;
}

input{

  background: none;
  border: none;
  border-bottom: 2px solid;
  border-color:#572b04;
  width:20rem;
}

.send-btn{

  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
}

.avatar{

  height: 40rem;
  margin-top: 6rem;
  margin-left: -3rem;
}

.side-icons{

  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 14rem ;
  
}

.contact-icon{

  height: 4rem;
  width: 4rem;
  float: right;
  margin-right: 1rem;
}

.contact-icon-active{

  height: 5rem;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

}
































































