
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Inter');

body {
  margin: none;
  padding: none;
  
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181515;
  color: #FFFFFF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
